body{
	background-color: #F8F4EC;
}

fieldset{
	background-color: white;
	box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
    border: 1px grey;
}

button{
	background-color: #0D8BCA;
	color: white;
	border-radius:10px;
}

input{
	background-color: #0D8BCA;
	color: white;
	border-radius:10px;
}

#seuil_alti{
	background-color: white;
	color: black;
	border-radius: 0px;
}

#titre, #titre2{
	font-size:1.5em;
	color: navy;
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

#interrogation{
	padding-top:10px;
	padding-bottom:10px;
	background: #F1F3EE;
    border: 1px grey;
    margin-left: 7px;
}

#iconeinterrogation{
	margin-left: 7px;
}

#grandtitre{
	font-size:1.5em;
}

#margin{
	margin-left:20px;
}

#formulaire1, #Méthodes, #gtitre{
	margin-top:15px;
}

text {
  fill: white;
  pointer-events: none;
}

.text_danger img, .text_danger div {
  position: relative;
  float: left;
}
.text_danger{
  overflow:auto;
  margin-bottom:12px;
}
.text_danger p {
  margin-top:2px;
  margin-bottom:2px;
}