body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100%;
}

ul {
  display: grid;
  min-height: 40px;
  grid-template-columns: repeat(16, 25px);
  background: linear-gradient(to right, lightgreen, yellow, orange, red);
  background-clip: border-box;
  background-position: 40px;
  background-size: 400px;
  background-repeat: no-repeat;
  justify-content: flex-start;
}

.g {
  fill: red;
}

.map {
  width: 100%;
  height:400px;
}

#frise_potentiel li {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  list-style: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-width: 3px;
  cursor: not-allowed;
  pointer-events: none;
  text-align: center;
  text-rendering: optimizeLegibility;
  opacity: .1;
  font-family: "BlinkMacSystemFont", "-apple-system", "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  Helvetica, Arial, sans-serif
}

#bra {
  font-weight: bold;
  font-size: 1.4em;
}

#frise_potentiel .opacity {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
}

.border {
  border: solid 3px black;
}
